<div id="_formularioEditar" style="display: none;">
    <div class="card">
        <div class="card-header">
            Editar Empleado
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="editNombre">Nombre:</label>
                <input type="text" class="form-control" id="editNombre">
            </div>
            <div class="form-group">
                <label for="editApellidoPaterno">Apellido Paterno:</label>
                <input type="text" class="form-control" id="editApellidoPaterno">
            </div>
            <div class="form-group">
                <label for="editApellidoMaterno">Apellido Materno:</label>
                <input type="text" class="form-control" id="editApellidoMaterno">
            </div>
            <div class="form-group">
                <label for="editEmail">Email:</label>
                <input type="email" class="form-control" id="editEmail">
            </div>
            <div class="form-group">
                <label for="editTelefono">Teléfono:</label>
                <input type="tel" class="form-control" id="editTelefono">
            </div>
            <div class="form-group">
                <label for="editPuesto">Puesto:</label>
                <input type="text" class="form-control" id="editPuesto">
            </div>
            <div class="form-group">
                <label for="editFechaBaja">Fecha de Baja:</label>
                <input type="date" class="form-control" id="editFechaBaja">
            </div>
            <div class="form-group">
                <label for="editFechaAlta">Fecha de Alta:</label>
                <input type="text" class="form-control" id="editFechaAlta">
            </div>
            <div class="form-group">
                <label for="editEstadoCivil">Estado Civil:</label>
                <input type="text" class="form-control" id="editEstadoCivil">
            </div>
            <div class="form-group">
                <label for="editDireccion">Dirección:</label>
                <input type="text" class="form-control" id="editDireccion">
            </div>
            <div class="form-group">
                <label for="editFechaNac">Fecha Nacimiento:</label>
                <input type="text" class="form-control" id="editFechaNac">
            </div>
            <div class="form-group">
                <label for="editRFC">RFC:</label>
                <input type="text" class="form-control" id="editRFC">
            </div>
            <div class="form-group">
                <label for="editGenero">Género:</label>
                <input type="text" class="form-control" id="editGenero">
            </div>
            <div class="form-group">
                <label for="editEdad">Edad:</label>
                <input type="text" class="form-control" id="editEdad">
            </div>
            <div class="form-group">
            <label for="editId">Id:</label>
            <input type="text" class="form-control" id="editId">
            </div>
            <button id="btnActualizarEmpleado" class="btn btn-primary">Actualizar</button>
            <button id="btnCancelarEdicion" class="btn btn-secondary">Cancelar</button>
        </div>
    </div>
</div>
