<div id="_FormularioBuscar" style="display: none;">
    <div class="card">
        <form id="formBuscarEmpleado">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
            </div>
            <div class="form-group">
                <label for="rfc">RFC:</label>
                <input type="text" class="form-control" id="rfc" placeholder="Ingrese el RFC">
            </div>
            <div class="form-group">
                <label for="fechaBaja">Fecha de Baja:</label>
                <select class="form-control" id="fechaBaja">
                    <option value="">Seleccione</option>
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" id="btnBuscarEmpleado">Search</button>
        </form>
    </div>
</div>
