@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Lista de Empleados</h1>

    <div class="row mb-3">
        <div class="col">
            <button id="btnNuevo" class="btn btn-primary">Crear Empleado</button>
        </div>
        
        <div class="col-auto">
             <button onclick = openPopup() id="btn1" class="btn btn-primary">Search</button>
        </div>
        <div class="col-auto">
            <button id="btnActualizar" class="btn btn-primary">Actualizar</button>
        </div>
    </div>

    <table id="tablaEmpleados" class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Email</th>
                <th>Puesto</th>
                <th>RFC</th>
                <th>Fecha de Alta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se llenarán los empleados dinámicamente -->
        </tbody>
    </table>

</div>
